@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.payment-method {
  transition: box-shadow 0.3s ease-in-out;
}

.payment-method:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.selected {
  border-color: #007bff; /* Bootstrap primary color */
}
